/*  Этот файл убирает те стили, которые нежелательны на всей странице в целом  */

/* отступы у таблиц */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* нежелательная обводка у select */
select {
    outline:none;
}


